/**
 * @file
 * Stylesheet for the nfl-teams-division template.
 */

.teams-division {
  text-align: center;
  background-color: #414141;
}

.teams-division ul {
  border-top: 1px solid #414141;
}

@media (min-width: 992px) {
  .teams-division {
    display: flex;
    justify-content: center;
    margin: 3% 0 0 -13%;
  }
}

.teams-division ul {
  list-style: none;
}

.teams-division li {
  list-style-type: none;
}

.teams-division img {
  max-width: 50%;
}

.division-name {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 5px;
}

@media (min-width: 992px) {
  .division-name {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 13px;
  }
}
