/**
 * @file
 * Stylesheet for the nfl-teams-cards template.
 */

.teams-conference {
  display: grid;
}

@media (min-width: 992px) {
  .teams-conference {
    grid-template: [row] 1fr/repeat(10, [col] minmax(0, 82px));
  }
}

.team-column {
  width: auto;
  grid-column: span 5;
}

@media (min-width: 992px) {
  .team-column-left {
    padding-right: 5%;
  }
}

@media (min-width: 992px) {
  .team-column-right {
    padding-left: 5%;
  }
}

.cards {
  margin-bottom: 5%;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: row;
}

.teams-conference .logo {
  width: 35%;
  padding-left: 2%;
}

.team-column .conference-title > span {
  padding-bottom: 3px;
  border-bottom: 2px solid #151515;
}

.team-column .conference-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
}

.team-name {
  color: #fff;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 18px;
  padding: 40px 5px 0 20px;
}

@media (max-width: 520px) {
  .team-name {
    font-size: 15px;
  }
}

@media (min-width: 520px) and (max-width: 992px) {
  .team-name {
    font-size: 24px;
    padding: 60px 5px 0 20px;
  }
}
