{#
/**
* @file
* Default theme implementation for 'nfl_teams_cards'.
*
* Available variables:
* - module_path: The module path.
* - nfc_title: NFC Title.
* - nfc_teams: Array with the NFC team's information.
* - afc_title: AFC Title.
* - afc_teams: Array with the AFC team's information.
*/
#}

{{ attach_library('acme_sport/nfl_teams_cards') }}
{{ attach_library('acme_sport/fonts') }}

<div class="teams-conference">
    <div class="team-column team-column-left" id="step1">
      <h2 class="conference-title "><span>{{ nfc_title }}</span></h2>
      {% for team in nfc_teams %}
        <div
          class="cards" style="background-image:url(/{{ module_path }}/images/background/{{ team.id }}.png);">
          <img alt="{{ team.display_name }} {{ team.nickname }}" class="logo"
               src="/{{ module_path }}/images/logo/{{ team.id }}.svg">
          <div class="team-name">
            <span>{{ team.display_name }} {{ team.nickname }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="team-column team-column-right" id="step2">
      <h2 class="conference-title"><span>{{ afc_title }}</span></h2>
      {% for team in afc_teams %}
        <div
          class="cards" style="background-image:url(/{{ module_path }}/images/background/{{ team.id }}.png);">
          <img alt="{{ team.display_name }} {{ team.nickname }}" class="logo"
               src="/{{ module_path }}/images/logo/{{ team.id }}.svg">
          <div class="team-name">
            <span>{{ team.display_name }} {{ team.nickname }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
