{#
/**
* @file
* Default theme implementation for 'nfl_teams_division'.
*
* Available variables:
* - module_path: The module path.
* - teams_division: Array with the team's information.
*/
#}

{{ attach_library('acme_sport/nfl_teams_division') }}
{{ attach_library('acme_sport/fonts') }}

<div class="teams-division" id="step3">
  {% for division, teams in teams_division %}
    <ul>
      <li class="division-name">{{ division }}</li>
      {% for team in teams %}
        <li>
          <img alt="{{ team.display_name }} {{ team.nickname }}" class="logo"
               src="/{{ module_path }}/images/logo/{{ team.id }}.svg">
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
